---
import Card from "./Card/index.astro";
const subjects = ['Software Developement', 'Computer Science', 'Artificial Intelligence', 'Data Analytics, Life Sciences'] // nachtragen als const array
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, Ich bin Marcel und studiere an der Technischen Hochschule Ingolstadt im 6. Semester Bio- und Medizininformatik
      <br />
       Die Schwerpunkte meines Studiums sind unter anderem  
      <ul>


          {subjects.map((subject) => (
            <li ={index}>{subject}</li>
          ))}
       
       
      </ul>
    </p>
    <p class="text-sm font-light">
      
    In meiner Freizeit treibe ich gerne Sport, gehe mit Freunden raus. Zu meinen größten Hobbys gehören Sport und Kochen, insbesondere die japanische und italienische Küche.
    </p>
  
  </div>
</Card>
