---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components'

//Imports für images
import { Image } from 'astro:assets';
import shsImage from '/src/static/SHSP.png';
import thiImage from '/src/static/thi.png';
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
å
        <!--Textformatierung für Willkommenspage-->
        <h6 class="text-sm font-light m-0 text-gray-500">Willkommen</h6>
        <p class="m-0 font-light text-xl">
          Hi, ich bin <b class="font-bold">Marcel Nhan</b>, ein Student der Bio- und Medizininformatik an der Technischen Hochschule Ingolstadt
        </p>
      </div>

      <div class="flex gap-10">
        <!--THI Bild auf der linken Seite-->
        <Image src={shsImage} alt="test" class="logo-image" style={{ width: '310px', height: 'auto' }}/>
        
        <!--SHS Bild auf der rechten Seite -->
        <Image src={thiImage} alt="test" class="logo-image" style={{ width: '220px', height: 'auto' }}/>
      </div>
    </div>
  </div>
</Card>
